{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "Android >= 4.4", "iOS >= 7.1", "not ie < 11"]
      }
    }],
    "stage-2"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"]
    }
  }
}
